html{
    margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container div {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  background-position: center center; 
}

